<div class="message-box">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Sunil Rajput</h5>
    </div>
    <div class="card-body">
      <div class="message-history">
        <div class="incoming-msg">
          <div class="incoming-msg-img">
            <img src="https://ptetutorials.com/images/user-profile.png" alt="" />
          </div>
          <div class="received-msg">
            <div class="received-with-msg">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, obcaecati.</p>
              <span class="time-date">11:01 AM | June 9</span>
            </div>
          </div>
        </div>
        <div class="outgoing-msg">
          <div class="sent-msg">
            <div class="sent-with-msg">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, obcaecati.</p>
              <span class="time-date">11:01 AM | June 9</span>
            </div>
          </div>
          <!-- <div class="outgoing-msg-img">
              <img src="https://ptetutorials.com/images/user-profile.png" alt="" />
            </div> -->
        </div>
      </div>
    </div>
    <div class="card-footer bg-transparent">
      <div class="input-group">
        <input
          type="text"
          id="message"
          class="form-control"
          placeholder="Escribe un mensaje aquí"
        />
        <div class="input-group-append">
          <button type="button" id="btnSend" class="btn btn-success">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
